<head>
  <meta charset="utf-8">
  {%- if page.title -%}
    <title>{{ site.title || append: " » " || append: page.title | escape }}</title>
  {%- else -%}
    <title>{{ site.title | escape }}</title>
  {%- endif -%}
  <link rel="shortcut icon" type="image/png" href="{{ "/assets/img/icons/favicon.ico" | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/style/main.css" | relative_url }}">
  {%- feed_meta -%}
</head>
