<head>
  <meta charset="utf-8">
  {%- if page.title -%}
  <title>{{ page.title | escape }}</title>
  {%- else -%}
  <title>{{ site.title | escape }}</title>
  {%- endif -%}
  <link rel="shortcut icon" type="image/png" href="{{ "/assets/img/icons/favicon.ico" | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/style/main.css" | relative_url }}">
  {%- feed_meta -%}
  {%- if page.title -%}
  <meta property="og:title" content="{{ page.title }}" />
  {%- endif -%}
  {%- if page.description -%}
  <meta property="og:description" content="{{ page.description }}" />
  {%- endif -%}
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  {%- if page.banner -%}
  <meta property="og:image" content="{{ page.banner | absolute_url }}" />
  {%- endif -%}
  <meta property="og:site_name" content="でんでんガァデン" />
  <meta property="og:locale" content="en_US" />
  {%- if page.layout == "post" -%}
  <meta property="og:type" content="article" />
  {%- else -%}
  <meta property="og:type" content="website" />
  {%- endif -%}
</head>
