<figure class="post-image" role="figure" {% if include.caption %} {% else %} aria-label="Image" {% endif %} {% if include.width %} style="width:{{include.width}}" {% endif %}>
    <div class="overlay">
        <img src="{{ include.url || absolute_url }}" alt="{{ include.alt }}" {% if include.height %} height="{{include.height}}" {% endif %} />
        {% for note in include.notes %}
            {% assign note-index = forloop.index | minus: 1 %}
            {% assign note-position = include.notes-position[note-index] || split: ", " %}
            {% assign note-size = include.notes-size[note-index] || split: ", " %}
            <div class="note" style="top: {{note-position[0]}}; left: {{note-position[1]}}; width: {{note-size[0]}}; height: {{note-size[1]}}">
                <div class="note-body">{{note}}</div>
            </div>
        {% endfor %}
    </div>
    {% if include.caption %}
    <figcaption class="caption">{{ include.caption }}</figcaption>
    {% endif %}
</figure>

