<div class="post-image-grid" >
    <figure class="post-grid {{include.grid-layout}}" role="figure" aria-label="{{include.caption}}">
        {% for image in include.images %}
        {% assign alt-index = forloop.index | minus: 1 %}
        <img src="{{ image || absolute_url }}" class="{{ 'image' | append: {{forloop.index}}" alt="{{include.images-alt[alt-index]}}"/>
        {% endfor %}
        {% if include.caption %}
        <figcaption class="caption">{{ include.caption }}</figcaption>
        {% endif %}
    </figure>
</div>
