/* Reset */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc(var(--spacing-unit) / 2);
}

img {
  max-width: 100%;
  vertical-align: middle;
  image-rendering: auto;
}

 ul, ol {
  margin-left: var(--spacing-unit);
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

body {
  font: var(--base-font-weight) var(--base-font-size)/var(--base-line-height) var(--base-font-family);
  background: var(--bg-color) var(--bg-url) top repeat-x;
  background-size: 24px 600px;
  image-rendering: pixelated;
  color: var(--text-color);
  font-kerning: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

a {
  color: var(--brand-color);
  text-decoration: underline;
  word-wrap: break-word;

  &:hover {
    color: var(--text-color);
  }
}

hr {
  color: var(--brand-accent-color);
  margin-bottom: calc(var(--spacing-unit) / 2);
}

blockquote {
  border-left: 5px solid var(--brand-color);
  padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
  background: var(--brand-accent-color-light);
  width: 90%;
  margin: 0 auto calc(var(--spacing-unit) / 2);

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  font-size: calc(var(--base-font-size) * 0.9375);
  border: 1px solid var(--grey-color-light);
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

figure { 
  display: table; 
}
figcaption { 
  display: table-caption; 
}

table {
  width: 90%;
  margin: 0 auto calc(var(--spacing-unit) / 2);
  border-collapse: collapse;

  th, td {
    border: 1px solid black;
  }

  td {
    padding: 5px;
    background-color: var(--post-image-note-bg);
  }

  .highlight {
    background: var(--post-highlight-background-color);
  }
}

.wrapper {
  position: relative;
  width: 100vw;
  box-sizing: border-box;
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  padding: var(--spacing-unit);
}
.wrapper-background {
  background-color: var(--wrapper-background-color);
}

@media screen and (max-width: 800px) {
  .wrapper {
    padding-left: calc(var(--spacing-unit) / 2);
    padding-right: calc(var(--spacing-unit) / 2);
  }
}