
// Header + nav + common
.site-header {
  text-align: center;
  margin-top: var(--spacing-unit);
}

.site-header .wrapper {
  border-bottom: 1px solid var(--brand-accent-color);
}

.site-header .wrapper-background {
  background: repeating-linear-gradient(
    90deg,
    var(--wrapper-background-color),
    var(--wrapper-background-color) 24px,
    var(--grey-color-light) 24px,
    var(--grey-color-light) 25px,
    var(--wrapper-background-color) 26px
  );
}

.site-header .wrapper-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, transparent 95%, var(--brand-color) 95%, var(--brand-color) 100%);
  width: 100%;
  height: 100%;
}

.site-title {
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: calc(var(--base-font-size) * 4.5);
  text-shadow: 3px 3px var(--shadow-color);
  position: relative;
  z-index: 2;
  white-space: nowrap;
  font-weight: bold;  
  color: var(--brand-color);
  -webkit-text-stroke: 2px var(--header-title-outline-color);
  a {
    text-decoration: none;
    color: inherit;
  }
}

@media screen and (max-width: 800px) {
  .site-header {
    margin-top: 0;
  }
  .site-title {
    font-size: var(--header-font-size);
  }
}

.nav-header .wrapper {
  padding: 0;
  display: grid;
  line-height: 32px;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 600px) {
  .nav-header .wrapper {
    grid-template-columns: auto auto;
  }
}

.nav-header a {
  text-decoration: none;
  border-right: 1px solid var(--grey-color-light);
  border-bottom: 1px solid var(--grey-color-light);
  background: var(--brand-accent-color);
  &:last-child {
    border-right: 0;
  }
}

.nav-header span {
  display: block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--brand-color);
    transition: transform 0.1s ease-in-out;
    transform: scale(0);
  }
  &:hover {
    cursor: pointer;
  }
  &:hover::after{
    transform: scale(1);
  }
}

.icon-text-align {
  vertical-align: middle; 
  display: inline-block
}

.broadcast { background-image: url("/assets/img/icons/broadcast.svg"); }
.signal-log { background-image: url("/assets/img/icons/signal-log.svg") }
.bird-bath { background-image: url("/assets/img/icons/bird-bath.svg") }

/* Pages */
.site-content .wrapper {
  box-shadow: 0 10px 5px var(--shadow-color);
  min-height: var(--wrapper-height-min);
}

/* Home */
.site-icon {
  width: 19px;
  height: 23px;
  background: url("/assets/img/icons/favicon.png") center center no-repeat;
  background-size: contain;
  margin: 0 auto calc(var(--spacing-unit) / 2);
  image-rendering: pixelated;
}

.home-radio {
  background: url("/assets/img/interference.png") center center no-repeat;
  background-size: contain;
  margin: 0 auto var(--spacing-unit);
  width: 80vw;
  height: 60vw;
  max-width: 640px;
  max-height: 480px;
  image-rendering: pixelated;
}

.home-post-list-header {
  font-size: calc(var(--base-font-size) * 1.2);
  background: var(--brand-accent-color);
  padding: calc(var(--spacing-unit) / 4);
  font-weight: bold;
}

.home-post-list {
  margin: calc(var(--spacing-unit) / 2) 0 calc(var(--spacing-unit) / 2);
  list-style: none;
}

.home-post-list li {
  margin-bottom: calc(var(--spacing-unit) / 4);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .home-post-list li {
    text-overflow: initial;
    white-space: initial;
    overflow: initial;
  }
}

.home-post-meta {
  color: var(--grey-color);
  display: inline-block;
  margin: 0 5px 5px 0;
}


.home-post-meta-item {
  background: var(--brand-accent-color);
  color: var(--text-color);
  display: inline-block;
  box-sizing: border-box;
  line-height: 20px;
  height: 30px;
  width: 125px;
  padding: 5px;
}

.home-post-category {
  text-align: center;
}

.home-post-category-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  background-size: 16px 16px;
  vertical-align: middle;
  margin-right: calc(var(--spacing-unit) / 4);
}

.home-post-meta time {
  background: var(--brand-accent-color-light);
  text-align: left;
}

.home-post-link {
}

// Categories
.category-icon {
  height: 32px;
  width: 32px;
  margin-right: calc(var(--spacing-unit) / 2);
  display: inline-block;
  background-size: 32px 32px;
  vertical-align: middle;
}

.category-header .wrapper {
  line-height: 48px;
  text-align: center;
  padding-top: calc(var(--spacing-unit) / 2);
  padding-bottom: calc(var(--spacing-unit) / 2);
  border-bottom: 1px solid var(--grey-color);
}

.category-header-icon {
  height: 48px;
  width: 48px;
  display: inline-block;
  background-size: 48px 48px;
  vertical-align: top;
  margin-right: calc(var(--spacing-unit) / 2);
}

.category-title {
  margin-right: calc(var(--spacing-unit) / 2);
}

.category-info {
  display: block;
  white-space: normal;
  box-sizing: border-box;
  background: var(--brand-accent-color-light);
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
  padding: calc(var(--spacing-unit) / 2);
  margin-top: calc(var(--spacing-unit) / 2);
}

.category-rss {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/icons/rss.svg");
  display: inline-block;
}

.category-post-list {
  margin: calc(var(--spacing-unit) / 2);
  list-style: none;
}

.category-post-list li {
  margin-bottom: calc(var(--spacing-unit) / 4);
}

.category-post-meta {
  color: var(--grey-color);
  display: inline-block;
  margin: 0 5px 5px 0;
}


.category-post-meta-item {
  background: var(--brand-accent-color-light);
  color: var(--text-color);
  display: inline-block;
  box-sizing: border-box;
  line-height: 20px;
  height: 30px;
  width: 125px;
  padding: 5px;
}

// Posts
.post-header {
  margin-bottom: calc(var(--spacing-unit) / 2);
}

.post-title {
  font-size: calc(var(--base-font-size) * 2);
  letter-spacing: 1px;
  background-color: var(--brand-color);
  padding: calc(var(--spacing-unit) / 4);
  margin-bottom: calc(var(--spacing-unit) / 2);
  color: var(--post-title-color);
}

.post-meta {
}

.post-meta-item {
  background: var(--brand-accent-color);
  color: var(--text-color);
  display: inline-block;
  box-sizing: border-box;
  line-height: 24px;
  height: 34px;
  padding: 5px;
  margin-right: 5px;
}

.post-category {
}

.post-category-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  background-size: 16px 16px;
  vertical-align: middle;
  margin-right: calc(var(--spacing-unit) / 4);
}

.post-meta time {
  background: var(--brand-accent-color-light);
}

.post-appeared {
  background: var(--post-appeared-background-color);
  color: var(--post-appeared-text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-permalink {
  background-color: initial;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  vertical-align: middle;
  background-image: url("/assets/img/icons/permalink.svg");
}

.post-content {
  margin-bottom: var(--spacing-unit);
  line-height: calc(var(--base-font-size) * 2);

  h2 {
    font-size: calc(var(--base-font-size) * 2);
  }

  h3 {
    font-size: calc(var(--base-font-size) * 1.625);
    background: var(--brand-accent-color);
    padding: calc(var(--spacing-unit) / 2) calc(var(--spacing-unit) / 4);
  }

  h4 {
    font-size: calc(var(--base-font-size) * 1.25);
    text-decoration: underline;
  }
}

figure {
  margin: 0 auto calc(var(--spacing-unit) / 2);
  .caption {
    background: var(--brand-accent-color-light);
    padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
    font-style: italic;
  }
}

.post-image-grid figure {
  display: grid;
  grid-template-columns: auto auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: initial;
  }
}

.two { 
  grid-template-areas:
  "image1 image2"
  "caption caption";
}
.three-left {
  grid-template-areas:
    "image1 image2"
    "image1 image3"
    "caption caption";
}
.three-right {
  grid-template-areas:
    "image2 image1"
    "image3 image1"
    "caption caption";
}
.three-top {
  grid-template-areas:
    "image1 image1"
    "image2 image2"
    "caption caption";
}
.three-bottom {
  grid-template-areas:
    "image2 image2"
    "image1 image1"
    "caption caption";
}
.four {
  grid-template-areas:
  "image1 image2"
  "image3 image4"
  "caption caption";
}

.image1 { grid-area: image1; }
.image2 { grid-area: image2; }
.image3 { grid-area: image3; }
.image4 { grid-area: image4; }
.caption { grid-area: caption; }

.post-video {
  max-height: 800px;
  margin: 0 auto calc(var(--spacing-unit) / 2);
}
.post-video-nnd {
  left: 0; 
  width: 100%; 
  height: 0; 
  position: relative; 
  padding-bottom: 56.25%;
}

.reversefootnote {
 font-family: monospace; 
}

.post-nav-link {
  display: block;
  margin-bottom: calc(var(--spacing-unit) / 2);
  &:before {
    content: "« "
  }
}

// Footer
.site-footer {
  text-align: center;
  font-size: calc(var(--base-font-size) * 0.75);
  font-weight: bold;  
  letter-spacing: 2px;
}