
// Header + nav + common
.site-header {
  text-align: center;
  margin-top: var(--spacing-unit);
}

.site-header .wrapper {
  border-bottom: 1px solid var(--brand-accent-color);
}

.site-header .wrapper-background {
  background: repeating-linear-gradient(
    90deg,
    var(--wrapper-background-color),
    var(--wrapper-background-color) 24px,
    var(--grey-color-light) 24px,
    var(--grey-color-light) 25px,
    var(--wrapper-background-color) 26px
  );
}

.site-header .wrapper-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, transparent 95%, var(--brand-color) 95%, var(--brand-color) 100%);
  width: 100%;
  height: 100%;
}

.site-title {
  margin-bottom: 0;
  letter-spacing: 1px;
  font-size: calc(var(--base-font-size) * 4.5);
  text-shadow: 3px 3px var(--shadow-color);
  position: relative;
  z-index: 2;
  white-space: nowrap;
  font-weight: bold;  
  color: var(--brand-color);
  a {
    text-decoration: none;
    color: inherit;
    -webkit-text-stroke: 2px var(--header-title-outline-color);
  }
}

@media screen and (max-width: 900px) {
  .site-header {
    margin-top: 0;
  }
  .site-title {
    font-size: var(--header-font-size);
  }
}

.nav-header .wrapper {
  padding: 0;
  display: grid;
  line-height: 32px;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 600px) {
  .nav-header .wrapper {
    grid-template-columns: auto auto;
  }
}

.nav-header a {
  text-decoration: none;
  border-right: 1px solid var(--grey-color-light);
  border-bottom: 1px solid var(--grey-color-light);
  background: var(--brand-accent-color);
  &:last-child {
    border-right: 0;
  }
}

.nav-header span {
  display: block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--brand-color);
    transition: transform 0.1s ease-in-out;
    transform: scale(0);
  }
  &:hover {
    cursor: pointer;
  }
  &:hover::after{
    transform: scale(1);
  }
}

.icon-text-align {
  vertical-align: middle; 
  display: inline-block
}

.broadcast { background-image: url("/assets/img/icons/broadcast.svg"); }
.signal-log { background-image: url("/assets/img/icons/signal-log.svg") }
.bird-bath { background-image: url("/assets/img/icons/bird-bath.svg") }

/* Pages */
.site-content .wrapper {
  box-shadow: 0 10px 5px var(--shadow-color);
  min-height: var(--wrapper-height-min);
}

/* Home */
.site-icon {
  width: 19px;
  height: 23px;
  background: url("/assets/img/icons/favicon.png") center center no-repeat;
  background-size: contain;
  margin: 0 auto calc(var(--spacing-unit) / 2);
  image-rendering: pixelated;
}

.home-radio-container {
  margin: 0 auto var(--spacing-unit);
  border: 15px groove rgb(209, 143, 0);
  border-radius: 3px;
  box-shadow: 0 10px 5px var(--shadow-color);
  width: 80vw;
  height: 54.34vw;
  max-width: 530px;
  max-height: 360px;
  background: rgb(240, 236, 220);
  .home-radio {
    width: 100%;
    height: 100%;
    background: url("/assets/img/interference-crop.png") center center no-repeat;
    background-size: contain;
    image-rendering: pixelated;
  }
}

.home-banner {
  background: var(--brand-accent-color);
  padding: calc(var(--spacing-unit) / 4);
  box-sizing: border-box;
  color: var(--text-color);
  font-size: calc(var(--base-font-size) * 1.2);
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: calc(var(--spacing-unit) / 2);
}

.home-post-grid {
  display: grid;
  grid-template-columns: minmax(auto, calc(50% - var(--spacing-unit) / 4)) minmax(auto, calc(50% - var(--spacing-unit) / 4));
  grid-gap: calc(var(--spacing-unit) / 2);
  width: 100%;
}

@media screen and (max-width: 600px) {
  .home-post-grid {
    grid-template-columns: 1fr;
  }
}

.home-post-grid .home-post-grid-item {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
}

.home-post-title {
  font-size: calc(var(--base-font-size) * 1.25);
  font-weight: bold;
  background-color: var(--brand-color);
  padding: calc(var(--spacing-unit) / 4);
  overflow: hidden;
  color: var(--white);
  text-decoration: none;
  &:hover {
    color: var(--white);
    border-bottom: 3px solid white;
    transition: 0.05s ease-in-out;
  }
}

.home-post-meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px;
  gap: 5px;
}

.home-post-meta > * {
  color: var(--text-color);
  padding: calc(var(--spacing-unit) / 8)
}

.home-post-meta .home-post-category {
  background: var(--brand-accent-color);
}

.home-post-meta time {
  background: var(--brand-accent-color-light);
}

// Categories
.category-icon {
  height: 32px;
  width: 32px;
  margin-right: calc(var(--spacing-unit) / 2);
  display: inline-block;
  background-size: 32px 32px;
  vertical-align: middle;
}

.category-header .wrapper {
  line-height: 48px;
  text-align: center;
  border-bottom: 1px solid var(--grey-color);
}

.category-banner {
  background: var(--brand-color);
  padding: calc(var(--spacing-unit) / 2);
  color: white;
  font-size: calc(var(--base-font-size) * 2);
  letter-spacing: 1px;
  font-weight: bold;
}

.category-header-icon {
  height: 48px;
  width: 48px;
  display: inline-block;
  background-size: 48px 48px;
  vertical-align: top;
  margin-right: calc(var(--spacing-unit) / 2);
  filter: invert(100%);
}

.category-title {
  margin-right: calc(var(--spacing-unit) / 2);
}

.category-info {
  display: block;
  white-space: normal;
  box-sizing: border-box;
  background: var(--brand-accent-color-light);
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
  padding: calc(var(--spacing-unit) / 2);
  margin-top: calc(var(--spacing-unit) / 2);
}

.category-rss {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/icons/rss.svg");
  display: inline-block;
}

.category-post-list {
  margin: calc(var(--spacing-unit) / 2);
  list-style: none;
}

.category-post-list li {
  margin-bottom: calc(var(--spacing-unit) / 4);
  text-overflow: ellipsis;
  white-space: initial;
  overflow: initial;
}

.category-post-meta {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.category-post-meta-item {
  background: var(--brand-accent-color);
  color: var(--text-color);
  display: inline-block;
  box-sizing: border-box;
  line-height: 20px;
  height: 30px;
  width: 125px;
  padding: 5px;
}

.category-post-meta time {
  background: var(--brand-accent-color-light);
}

// Posts
.post-header {
  margin-bottom: calc(var(--spacing-unit) / 2);
}

.post-title {
  font-size: calc(var(--base-font-size) * 2);
  letter-spacing: 1px;
  background-color: var(--brand-color);
  padding: calc(var(--spacing-unit) / 4);
  margin-bottom: calc(var(--spacing-unit) / 2);
  color: var(--post-title-color);
}

.post-meta {
}

.post-meta-item {
  background: var(--brand-accent-color);
  color: var(--text-color);
  display: inline-block;
  box-sizing: border-box;
  line-height: 24px;
  height: 34px;
  padding: 5px;
  margin-right: 5px;
}

.post-category {
}

.post-category-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  background-size: 16px 16px;
  vertical-align: middle;
  margin-right: calc(var(--spacing-unit) / 4);
}

.post-meta time {
  background: var(--brand-accent-color-light);
}

.post-appeared {
  background: var(--post-highlight-background-color);
  color: var(--post-appeared-text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-permalink {
  background-color: initial;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  vertical-align: middle;
  background-image: url("/assets/img/icons/permalink.svg");
}

.post-note {
  margin-bottom: var(--spacing-unit);
  line-height: calc(var(--base-font-size) * 2);
  font-size: var(--base-font-size);
  font-weight: inherit;
  padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
  background: var(--post-highlight-background-color);
}

.post-content {
  margin-bottom: var(--spacing-unit);
  line-height: calc(var(--base-font-size) * 2.1);

  p {
    padding: 0 calc(var(--spacing-unit) / 2.5);
  }

  h2 {
    font-size: calc(var(--base-font-size) * 2);
  }

  h3 {
    font-size: calc(var(--base-font-size) * 1.625);
    background: var(--brand-accent-color);
    padding: calc(var(--spacing-unit) / 2) calc(var(--spacing-unit) / 4);
  }

  h4 {
    font-size: calc(var(--base-font-size) * 1.25);
    text-decoration: underline;
  }
}

.post-src-highlight {
  background: var(--post-src-highlight-color);
  padding: 0.75rem; 
  text-align: right;
  margin-bottom: 1.25em;
}

figure {
  margin: 0 auto calc(var(--spacing-unit) / 2);
  .caption {
    background: var(--brand-accent-color-light);
    padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
    font-style: italic;
  }
}

figure.post-audio, audio {
  width: 100%;
}
figure.post-audio figcaption {
  background: var(--brand-accent-color-light);
  padding: 0.75rem; 
  text-align: left;
  font-weight: bold;
}
figure.post-audio .post-audio-source {
  float: right;
}

figure.post-image img {
  object-fit: cover;
}
figure.post-image figcaption {
  caption-side: bottom;
}

.post-image-grid figure {
  display: grid;
  grid-template-columns: 50% 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.two { 
  grid-template-areas:
  "image1 image2"
  "caption caption";
}
.three-left {
  grid-template-areas:
    "image1 image2"
    "image1 image3"
    "caption caption";
}
.three-right {
  grid-template-areas:
    "image2 image1"
    "image3 image1"
    "caption caption";
}
.three-top {
  grid-template-areas:
    "image1 image1"
    "image2 image3"
    "caption caption";
}
.three-bottom {
  grid-template-areas:
    "image2 image3"
    "image1 image1"
    "caption caption";
}
.four {
  grid-template-areas:
  "image1 image2"
  "image3 image4"
  "caption caption";
}
.image1 { grid-area: image1; }
.image2 { grid-area: image2; }
.image3 { grid-area: image3; }
.image4 { grid-area: image4; }
.caption { grid-area: caption; }

.overlay {
  position: relative;
  user-select: none;
}
.overlay .note {
  position: absolute;
  background: var(--post-image-note);
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.overlay .note .note-body {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  padding: 5px;
  font-size: calc(var(--base-font-size) * 1);
  background: var(--post-image-note-bg);
  border: 1px solid var(--post-image-note-border);
  box-sizing: border-box;
  min-width: 150px;
  line-height: 1.5;
  z-index: 2;
}
.overlay .note:active > .note-body, .overlay .note:hover > .note-body {
  display: initial;
}

.post-video {
  max-height: 800px;
  margin: 0 auto calc(var(--spacing-unit) / 2);
}
.post-video-nnd {
  left: 0; 
  width: 100%; 
  height: 0; 
  position: relative; 
  padding-bottom: 56.25%;
}

.reversefootnote {
 font-family: monospace; 
}

.post-nav-link {
  display: block;
  margin-bottom: calc(var(--spacing-unit) / 2);
  &:before {
    content: "« "
  }
}

// Footer
.site-footer {
  text-align: center;
  font-size: calc(var(--base-font-size) * 0.75);
  font-weight: bold;  
  letter-spacing: 2px;
}