@charset "utf-8";

@font-face {
  font-family: REM;
  src: url("/assets/font/REM-VariableFont_wght.ttf");
}

:root {
  --text-color: rgb(0, 0, 0);
  --bg-color: rgb(135, 206, 235);
  --bg-url: url(/assets/img/sky.png);
  --brand-color: rgb(0, 128, 0);
  --brand-accent-color: rgb(206, 199, 191);
  --brand-accent-color-light: rgb(228, 224, 220);
  --grey-color: rgb(130, 130, 130);
  --grey-color-light: rgb(181, 181, 181);
  --wrapper-background-color: rgb(242, 241, 239);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --header-title-outline-color: rgb(255, 255, 255);
  --post-appeared-background-color: rgb(255, 224, 179);
  --post-appeared-text-color: rgb(0, 0, 0);
  --post-title-color: rgb(255, 255, 255);

  --content-width: 800px;
  --wrapper-height-min: 250px;
  --spacing-unit: 30px;

  --base-font-family: REM, Helvetica, Arial, sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-line-height: 1.5;
  --header-font-size: 9vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(236, 236, 236);
    --bg-color: rgb(50, 38, 73);
    --bg-url: url(/assets/img/sky_dark.png);
    --brand-color: rgb(100, 194, 85);
    --brand-accent-color: rgb(72, 46, 120);
    --brand-accent-color-light: rgb(61, 39, 102);
    --grey-color-light: var(--grey-color);
    --wrapper-background-color: rgb(39, 25, 65);
    --shadow-color: initial;
    --post-appeared-background-color: rgb(133, 7, 101);
    --post-appeared-text-color: rgb(236, 236, 236);
    .home-post-category-icon, .category-icon, .category-header-icon, .post-category-icon {
      filter: invert(34%) sepia(11%) saturate(4761%) hue-rotate(225deg) brightness(92%) contrast(96%);
    }
    .site-content .wrapper {
      box-shadow: initial;
    }
  }
}

@mixin relative-font-size($ratio) {
  font-size: calc(var(--base-font-size) * $ratio);
}

@import
  "garden/base",
  "garden/layout",
  "garden/syntax-highlighting"
;
