@charset "utf-8";

@font-face {
  font-family: REM;
  src: url("/assets/font/REM-VariableFont_wght.ttf");
}

:root {
  --text-color: rgb(0, 0, 0);
  --bg-color: rgb(135, 206, 235);
  --bg-url: url(/assets/img/sky.png);
  --brand-color: rgb(0, 128, 0);
  --brand-accent-color: rgb(206, 199, 191);
  --brand-accent-color-light: rgb(228, 224, 220);
  --grey-color: rgb(130, 130, 130);
  --grey-color-light: rgb(181, 181, 181);
  --wrapper-background-color: rgb(242, 241, 239);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --header-title-outline-color: rgb(255, 255, 255);
  --post-appeared-background-color: rgb(255, 224, 179);
  --post-appeared-text-color: rgb(0, 0, 0);
  --post-title-color: rgb(255, 255, 255);
  --post-src-highlight-color: #fbeddb;
  --post-image-note: rgba(255, 255, 238, 0.5);
  --post-image-note-border: rgb(0, 0, 0);
  --post-image-note-bg: rgb(255, 255, 238);

  --content-width: 900px;
  --wrapper-height-min: 250px;
  --spacing-unit: 30px;

  --base-font-family: REM, Helvetica, Arial, sans-serif;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-line-height: 1.5;
  --header-font-size: 9vw;

  scrollbar-width: thin;

  min-height: 100%;
  box-sizing: border-box;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(246, 246, 246);
    --bg-color: #211a30;
    --bg-url: url(/assets/img/sky_dark-reverse.png);
    --brand-color: rgb(100, 194, 85);
    --brand-accent-color: rgb(49, 33, 78);
    --brand-accent-color-light: rgb(76, 55, 117);
    --grey-color-light: var(--grey-color);
    --wrapper-background-color: rgb(59, 45, 85);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --post-appeared-background-color: rgb(133, 7, 101);
    --post-appeared-text-color: rgb(236, 236, 236);
    .home-post-category-icon, .category-icon, .category-header-icon, .post-category-icon {
      filter: invert(32%) sepia(10%) saturate(6348%) hue-rotate(230deg) brightness(90%) contrast(90%);
    }
    .post-category {
      background: var(--brand-accent-color)
    }
  }
}
*/

@import
  "garden/base",
  "garden/layout"
;
