---
layout: default
---
{% assign category-slug = page.category %}
{% assign category-title = site.data.taxonomy[category-slug].title %}
{% assign category-description = site.data.taxonomy[category-slug].description %}

<div class="category-page">
  {{ content }}

  <ul class="category-post-list">
    {%- for post in site.categories[category-slug] -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
      <span class="category-post-meta"><time class="category-post-meta-item dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: date_format }}</time></span>
      {%- if post.link -%}
        ⧉ <a rel="external nofollow" class="post-link" href="{{ post.link }}">
          {{ post.title | escape }}
        </a>
      {%- else -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</div>
