<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    {%- include nav.html -%}

    {%- if page.layout == "category" -%}
      {%- include category-header.html category-slug=page.category -%}
    {% endif %}

    <main class="site-content" aria-label="Content">
      <div class="wrapper wrapper-background">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  </body>

</html>
