---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="categories">
  {%- for category in site.categories -%}
    {% assign category-slug = category | first | downcase | replace: " ", "-" %}
    {% assign category-title = site.data.taxonomy[category-slug].title %}
    {% assign category-description = site.data.taxonomy[category-slug].description %}
    <div class="category">
      <div class="category-header">
        <span class="category-icon {{category-slug}}"></span><div class="category-title"><a>{{ category-title }}</a></div><input class="category-info-check" type="checkbox" id="{{category-slug}}-info-check"><label class="category-info-icon" for="{{category-slug}}-info-check"><div class="info-icon">🛈</div></label>
        <div class="category-info">
          {{category-description}}
        </div>
      </div>
      <ul class="category-post-list">
        {%- for post in category.last -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}
          <span class="post-meta"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: date_format }}</time></span>
          {%- if post.link -%}
            ⧉ <a rel="external nofollow" class="post-link" href="{{ post.link }}">
              {{ post.title | escape }}
            </a>
          {%- else -%}
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          {%- endif -%}
          
        </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endfor -%}
</div>
